/CMakeFiles
/build*/*
/examples/hello_world/build
/.idea/
/.vscode/
/.settings
/.project
/.cproject
/doc
/daemon/CMakeFiles
/examples/CMakeFiles
/implementation/configuration/include/internal.hpp
/test/unit_tests/security_policy_manager_impl_tests/policy_manager_impl_unit_test_macro.hpp
/tools/CMakeFiles
/Testing
/logs
!build_qnx/*
