*.[aod]
*~
*.so*
*.pyc
bin/*
Makefile
mk_env.h
mk_info.h
*.dpkg
*.pc
*.lo
tags
*.log
logs/*
callgrind.out.*
tests/lib/bin/*
plugins.conf
plugins.list
plugins/Make.common
plugins/auth/mk_passwd
lib/python/monkey.c
lib/python/bin/*
lib/python/conf/*
lib/python/jemalloc.config
src/include/
build/
include/monkey/mk_static_plugins.h
include/monkey/mk_core/mk_core_info.h
