<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="confluent.libzstd.redist" version="1.3.8-g9f9630f4-test1" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="Native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="Native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="Native" />
</packages>