dist: xenial
language: c
# The leak sanitizer uses ptrace, which doesn't work under the
# travis container infrastructure, so we enable 'sudo'
sudo: true

git:
  depth: 3

compiler:
  - gcc
  - clang

env:
  - FLB_OPT="-DFLB_JEMALLOC=On"
  - FLB_OPT="-DFLB_JEMALLOC=Off"
  - FLB_OPT="-DSANITIZE_ADDRESS=On"
  - FLB_OPT="-DSANITIZE_UNDEFINED=On"

# Disable Memory Sanitizer since it causes conflicts on coroutines
# interfaces. We need to add the stack registrations otherwise it
# fails with:
#
#   ==22536==ERROR: MemorySanitizer: SEGV on unknown...7fe2231f8c48 T22537)
#   ==22536==The signal is caused by a READ memory access.
#   ==22536==Hint: PC is at a non-executable region. Maybe a wild jump?
#            #0 0xaadc6f in _fini (...in/flb-rt-in_cpu+0xaadc6f)
#
#  - FLB_OPT="-DSANITIZE_MEMORY=On"

# Many errors on this
#  - FLB_OPT="-DSANITIZE_THREAD=On"

before_script:

matrix:
  include:
    - os: osx
      env: FLB_OPT="-DFLB_JEMALLOC=Off"
      script: |
        ci/do-ut || true
    - os: linux
      env: FLB_OPT="-DFLB_COVERAGE=On"
      dist: xenial
      sudo: true
      language: c
      compiler: gcc
      script: |
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 90
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 90
        sudo usermod -a -G systemd-journal $(id -un)
        sudo -E su -p travis -c "PATH=$PATH ci/do-ut"
    - os: linux
      dist: xenial
      sudo: true
      language: node_js
        - "9"
      compiler: gcc
      env: DOCKER_BUILD=1
      script: |
        echo "===== BUILD DOCKER IMAGE ======="
        docker build -t test-image -f Dockerfile .
        npm install -g bats
      addons:
        apt:
          sources: {}
          packages: {}

script: |
  echo "CC = $CC, CXX = $CXX"
  sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 90
  sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 90
  sudo usermod -a -G systemd-journal $(id -un)
  sudo -E su -p travis -c "PATH=$PATH ci/do-ut"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-7
      - g++-7
      - libsystemd-dev
      - gcovr
