version: v1-winbuild-{build}

image: Visual Studio 2019

platform:
  - Win32
  - x64

environment:
  vspath: 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Community'
  winflexbison: https://github.com/lexxmark/winflexbison/releases/download/v2.5.22/win_flex_bison-2.5.22.zip
  PATH: '%PATH%;C:\WinFlexBison'

configuration:
  - Release

skip_commits:
  files:
    - ".github/**/*"
    - "packaging/**/*"
    - "dockerfiles/**/*"
    - "**/*.md"
    - "**/*.sh"

install:
  - ps: Invoke-WebRequest -O winflexbison.zip $env:winflexbison
  - ps: Expand-Archive winflexbison.zip -Destination /WinFlexBison
  - ps: Copy-Item -Path /WinFlexBison/win_bison.exe /WinFlexBison/bison.exe
  - ps: Copy-Item -Path /WinFlexBison/win_flex.exe /WinFlexBison/flex.exe

before_build:
  - git clone --depth=1 https://github.com/calyptia/fluent-bit-ci.git ci
  - ps: Copy-Item -Path .\ci\scripts\run-unit-tests.ps1 .\ci\do-ut.ps1
  - if %PLATFORM%==Win32 call "%vspath%\VC\Auxiliary\Build\vcvars32.bat"
  - if %PLATFORM%==x64   call "%vspatH%\VC\Auxiliary\Build\vcvars64.bat"

build_script:
  - powershell ".\ci\do-ut.ps1;exit $LASTEXITCODE"
  - cd build
  - cpack
  - cmake -G "NMake Makefiles" ..\
  - cmake --build .
  - cpack

artifacts:
  - path: build/fluent-bit-*.exe
    name: fluent-bit-installer
  - path: build/fluent-bit-*.zip
    name: fluent-bit-zip
