# Fluent Bit Code Owners
# ----------------------
# The following file list the code owners or responsibles for code
# review on different components or extensions of Fluent Bit, applicable for
# any original code author (not only maintainers).
#
# NOTE: if you are a original code author and you are not listed here, please
# open a PR with the proper modification :)

# Global Owners
# -------------
*                        @edsiper @leonardo-albertovich @fujimotos @koleini

# Build System & Portability
# --------------------------
/CMakeLists.txt          @fujimotos @niedbalski @patrick-stephens @celalettin1286
/cmake/                  @fujimotos @niedbalski @patrick-stephens @celalettin1286

# CI
# -------------------------
/.github/                @niedbalski @patrick-stephens @celalettin1286
/appveyor.yml            @niedbalski @patrick-stephens @celalettin1286
/dockerfiles/            @niedbalski @patrick-stephens @celalettin1286
/packaging/              @niedbalski @patrick-stephens @celalettin1286
/codebase-structure.svg  @niedbalski @patrick-stephens @celalettin1286
/install.sh              @niedbalski @patrick-stephens @celalettin1286

# Core: Signv4
# ------------
/src/flb_signv4.c        @pettitwesley
/src/flb_lib.c           @edsiper @niedbalski

# Core: AWS Auth & Utils
# ------------
/src/aws                 @pettitwesley @sparrc @singholt @swapneils

# AWS header files
/include/aws                   @pettitwesley @sparrc @singholt @swapneils
/include/flb_aws_credentials.h @pettitwesley @sparrc @singholt @swapneils
/include/flb_aws_util.h        @pettitwesley @sparrc @singholt @swapneils

# Core: Stream Processor
# ----------------
/src/stream_processor/   @koleini

# Input Plugins
# -------------
/plugins/in_collectd     @fujimotos
/plugins/in_docker       @nokute78 @edsiper
/plugins/in_dummy        @nokute78
/plugins/in_netif        @nokute78
/plugins/in_statsd       @fujimotos
/plugins/in_thermal      @nokute78
/plugins/in_winlog       @fujimotos

# Filter Plugins
# --------------
/plugins/filter_aws      @pettitwesley @sparrc @singholt @swapneils
/plugins/filter_ecs      @pettitwesley @sparrc @singholt @swapneils

# Output Plugins
# --------------
/plugins/out_datadog     @nokute78 @edsiper
/plugins/out_es          @pettitwesley @edsiper
/plugins/out_pgsql       @sxd
/plugins/out_stackdriver @braydonk @jefferbrecht @jeffluoo

# AWS Plugins
/plugins/out_s3               @pettitwesley @sparrc @singholt @swapneils
/plugins/out_cloudwatch_logs  @pettitwesley @sparrc @singholt @swapneils
/plugins/out_kinesis_firehose @pettitwesley @sparrc @singholt @swapneils
/plugins/out_kinesis_streams  @pettitwesley @sparrc @singholt @swapneils
/plugins/out_opensearch       @pettitwesley @edsiper @sparrc @singholt @swapneils

# AWS test code
/tests/internal/aws             @pettitwesley @sparrc @singholt @swapneils
/tests/internal/aws_*           @pettitwesley @sparrc @singholt @swapneils
/tests/runtime/filter_ecs.c     @pettitwesley @sparrc @singholt @swapneils
/tests/runtime/filter_aws.c     @pettitwesley @sparrc @singholt @swapneils
/tests/runtime/out_cloudwatch.c @pettitwesley @sparrc @singholt @swapneils
/tests/runtime/out_firehose.c   @pettitwesley @sparrc @singholt @swapneils
/tests/runtime/out_kinesis.c    @pettitwesley @sparrc @singholt @swapneils
/tests/runtime/out_opensearch.c @pettitwesley @edsiper @sparrc @singholt @swapneils
/tests/runtime/out_s3.c         @pettitwesley @sparrc @singholt @swapneils

# Google test code
# --------------
/tests/runtime/out_stackdriver.c @braydonk @jefferbrecht @jeffluoo
/tests/runtime/data/stackdriver  @braydonk @jefferbrecht @jeffluoo

# Devcontainer
/.devcontainer                  @patrick-stephens @niedbalski @edsiper

# Calyptia Fleet
/include/fluent-bit/calyptia/ @pwhelan @alecholmes
/plugins/custom_calyptia/     @pwhelan @alecholmes
/plugins/custom_calyptia/     @pwhelan @alecholmes
/plugins/out_calyptia/        @pwhelan @alecholmes
/plugins/in_calyptia_fleet/   @pwhelan @alecholmes
