.gitignore
.yarnrc

.vscode/**
.vscode-test/**
out/test/**

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

src

resource/test
resource/debug/**
!resource/debug/darwin/.placeholder
!resource/debug/linux/.placeholder
!resource/debug/windows/.placeholder