[submodule "third-party/mruby"]
	path = third-party/mruby
	url = https://github.com/mruby/mruby
[submodule "third-party/neverbleed"]
	path = third-party/neverbleed
	url = https://github.com/tatsuhiro-t/neverbleed.git
	branch = nghttp2
