config.h
config.log*
config.cache
Makefile.config
rdkafka*.pc
*~
\#*
*.o
*.so
*.so.?
*.dylib
*.a
*.d
librdkafka*.lds
core
vgcore.*
*dSYM/
*.offset
SOURCES
gmon.out
*.gz
*.bz2
*.deb
*.rpm
staging-docs
tmp
stats*.json
test_report*.json
