libmaxminddb-*/libtool
libmaxminddb-*/**/*.la
libmaxminddb-*/**/*.lo
libmaxminddb-*/**/*.o
libmaxminddb-*/**/*.pc
libmaxminddb-*/**/.deps/
libmaxminddb-*/**/.libs/
libmaxminddb-*/**/Makefile
libmaxminddb-*/**/bin/mmdblookup
libmaxminddb-*/**/bin/mmdplookup.o
libmaxminddb-*/**/config.h
libmaxminddb-*/**/config.log
libmaxminddb-*/**/config.status
libmaxminddb-*/**/include/maxminddb_config.h
libmaxminddb-*/**/stamp*
libmaxminddb-*/t/libtap/libtap.a
libmaxminddb-*/t/libtap/libtap.so
libmaxminddb-*/t/libtap/t/cmp_mem
libmaxminddb-*/t/libtap/t/cmpok
libmaxminddb-*/t/libtap/t/diag
libmaxminddb-*/t/libtap/t/diesok
libmaxminddb-*/t/libtap/t/is
libmaxminddb-*/t/libtap/t/like
libmaxminddb-*/t/libtap/t/simple
libmaxminddb-*/t/libtap/t/skip
libmaxminddb-*/t/libtap/t/synopsis
libmaxminddb-*/t/libtap/t/test
libmaxminddb-*/t/libtap/t/todo
