[submodule "external/boost/predef"]
	path = external/boost/predef
	url = https://github.com/boostorg/predef.git
[submodule "external/boost/preprocessor"]
	path = external/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
