mainmenu "WebAssembly Micro Runtime Configuration"

choice
    prompt "select a build target"

    config TARGET_X86_64
        bool "X86_64"

    config TARGET_X86_32
        bool "X86_32"

endchoice

choice
    prompt "select a target platform"

    config PLATFORM_LINUX
        bool "Linux"

endchoice

menu "select execution mode"
    comment "At least one execution mode must be selected"
    config EXEC_AOT
        bool "AOT"
        depends on PLATFORM_LINUX

    config EXEC_JIT
        bool "JIT"
        depends on PLATFORM_LINUX
        select BUILD_LLVM

    config BUILD_LLVM
        bool "build llvm (this may take a long time)"
        depends on EXEC_JIT
        help
            llvm library is required by JIT mode.

    config EXEC_INTERP
        bool "INTERPRETER"
        default y
endmenu

choice
    prompt "libc support"

    config LIBC_BUILTIN
        bool "builtin libc"
        help
            use builtin libc, this is a minimal subset of libc.

    config LIBC_WASI
        bool "WebAssembly System Interface [WASI]"
        depends on PLATFORM_LINUX
        help
            enable WebAssembly System Interface

endchoice

choice
    prompt "application framework"
    config APP_FRAMEWORK_DISABLE
        bool "Disable app framework"
        help
            Disable wamr app framework

    config APP_FRAMEWORK_DEFAULT
        bool "Default components"
        help
            Default components

    config APP_FRAMEWORK_ALL
        bool "All components"

    config APP_FRAMEWORK_CUSTOM
        bool "customized module config"

    menu "modules:"
        depends on APP_FRAMEWORK_CUSTOM

        source ".wamr_modules"

    endmenu
endchoice
