menu "WASM Micro Runtime"
    choice WAMR_BUILD_TYPE
        prompt "Build type"
        default WAMR_BUILD_RELEASE

        config WAMR_BUILD_RELEASE
            bool "Release"

        config WAMR_BUILD_DEBUG
            bool "Debug"
    endchoice

    config WAMR_ENABLE_AOT
        bool "AOT"
        default y

    menuconfig WAMR_ENABLE_INTERP
        bool "Interpreter"
        default y

    if WAMR_ENABLE_INTERP

       choice WAMR_INTERP_MODE
            prompt "Interpreter mode"
            default WAMR_INTERP_FAST

            config WAMR_INTERP_CLASSIC
                bool "Classic"

            config WAMR_INTERP_FAST
                bool "Fast"
        endchoice

        choice WAMR_INTERP_LOADER_MODE
            prompt "Loader mode"
            default WAMR_INTERP_LOADER_NORMAL

            config WAMR_INTERP_LOADER_NORMAL
                bool "Normal"

            config WAMR_INTERP_LOADER_MINI
                bool "Mini"
        endchoice
    endif

    config WAMR_ENABLE_LIB_PTHREAD
        bool "Lib pthread"
        default y

    config WAMR_ENABLE_LIBC_BUILTIN
        bool "Libc builtin"
        default y

    config WAMR_ENABLE_LIBC_WASI
        bool "Libc WASI"
        default y

    config WAMR_ENABLE_MEMORY_PROFILING
        bool "Memory profiling"
        default n

    config WAMR_ENABLE_MULTI_MODULE
        bool "Multi module"
        default n

    config WAMR_ENABLE_PERF_PROFILING
        bool "Performance profiling"
        default n

    config WAMR_ENABLE_REF_TYPES
        bool "Reference types"
        default n

    config WAMR_ENABLE_SHARED_MEMORY
        bool "Shared memory"
        default n
endmenu
