name: Remove docker images for stale/closed PR(s).
on:
  pull_request:
    branches:
      - master
    types: [closed]
jobs:
  cleanup:
    name: PR - cleanup pr-${{ github.event.number }} images
    runs-on: ubuntu-latest
    steps:
      - uses: bots-house/ghcr-delete-image-action@v1.0.1
        with:
          owner: fluent
          name: fluent-bit/pr-${{ github.event.number }}
          token: ${{ secrets.GITHUB_TOKEN }}
