name: Build and run integration tests for PR
on:
  pull_request:
    branches:
      - master
    types:
      - labeled
      - opened
      - edited
      - reopened
      - synchronize
jobs:
  pr-integration-test-build:
    # We only need to test this once as the rest are chained from it.
    if: contains(github.event.pull_request.labels.*.name, 'ok-to-test')
    # TODO: remove before merge
    uses: fluent/fluent-bit/.github/workflows/call-integration-image-build.yaml@workflows_simplify_integration_test
    with:
      ref: ${{ github.event.pull_request.head.sha }}
      registry: ghcr.io
      username: ${{ github.actor }}
      image: ${{ github.repository }}
      image-tag: x86_64-master-pr-${{ github.event.number }}
      environment: integration
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}

  pr-integration-test-build-complete:
    runs-on: ubuntu-latest
    needs: pr-integration-test-build
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        name: Label the PR
        with:
          labels: ci/integration-docker-ok
          github_token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ github.event.pull_request.number }}

      - name: Upload the image just in case as an artefact
        run: |
          docker pull $IMAGE
          docker save --output /tmp/pr-image.tar $IMAGE
        env:
          IMAGE: ghcr.io/${{ github.repository }}:x86_64-master-pr-${{ github.event.pull_request.number }}
        shell: bash

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: pr-${{ github.event.pull_request.number }}-image
          path: /tmp/pr-image.tar
          if-no-files-found: error

  pr-integration-test-run-integration-gcp:
    needs: pr-integration-test-build
    uses: calyptia/fluent-bit-ci/.github/workflows/reusable-integration-test-gcp.yaml@main
    with:
      image_name: ghcr.io/${{ github.repository }}
      image_tag: x86_64-master-pr-${{ github.event.pull_request.number }}
    secrets:
      grafana_username: ${{ secrets.GRAFANA_USERNAME }}
      terraform_api_token: ${{ secrets.TF_API_TOKEN }}
      gcp_service_account_key: ${{ secrets.GCP_SA_KEY }}
      grafana_password: ${{ secrets.GRAFANA_PASSWORD }}

  pr-integration-test-run-integration-post-label:
    runs-on: ubuntu-latest
    needs: run-integration-gcp
    steps:
      - uses: actions-ecosystem/action-add-labels@v1
        name: Label the PR
        with:
          labels: ci/integration-test-gcp-ok
          github_token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ github.event.pull_request.number }}
          repo: fluent/fluent-bit
