name: Build and run image tests for all architectures
on:
  pull_request:
    paths:
      - dockerfiles/*

jobs:
    pr-get-latest-tag:
      name: PR - get latest tag for source build
      runs-on: ubuntu-latest
      environment: pr
      outputs:
        latest_tag: ${{ steps.formatted_version.outputs.replaced }}
      steps:
        - uses: actions/checkout@v2
        - uses: actions-ecosystem/action-get-latest-tag@v1
          id: get-latest-tag
          with:
            semver_only: true
        - uses: frabert/replace-string-action@v2.0
          id: formatted_version
          with:
            pattern: '[v]*(.*)$'
            string: ${{ steps.get-latest-tag.outputs.tag }}
            replace-with: '$1'
            flags: 'g'

    pr-image-tests-build-images:
      name: PR - build images
      uses: fluent/fluent-bit/.github/workflows/call-build-images.yaml@master
      needs: pr-get-latest-tag
      with:
        version: ${{ needs.pr-get-latest-tag.outputs.latest_tag }}
        registry: ghcr.io
        username: ${{ github.actor }}
        image: ${{ github.repository }}/pr-${{ github.event.number }}
        environment: pr
      secrets:
        token: ${{ secrets.GITHUB_TOKEN }}

    pr-image-tests-smoke-test-images:
      name: PR - smoke test images
      needs: [pr-get-latest-tag, pr-image-tests-build-images]
      uses: fluent/fluent-bit/.github/workflows/call-test-images.yaml@master
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        image: ${{ github.repository }}/pr-${{ github.event.number }}
        image-tag: ${{ needs.pr-get-latest-tag.outputs.latest_tag }}
        environment: pr
      secrets:
        token: ${{ secrets.GITHUB_TOKEN }}

    pr-image-tests-classic-docker-build:
      name: PR - Classic docker build test
      runs-on: ubuntu-latest
      environment: pr
      steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Classic docker build
        # We only want to confirm it builds with classic mode, nothing else
        run: |
          docker build .
        env:
          # Ensure we disable buildkit
          DOCKER_BUILDKIT: 0
        shell: bash
