name: Build images for all architectures
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - 'dockerfiles/Dockerfile'
      - 'conf/**'

  workflow_dispatch:

jobs:
    pr-image-tests-build-images:
      name: PR - Buildkit docker build test
      runs-on: ubuntu-latest
      environment: pr
      steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2

        - name: Build the multi-arch images
          uses: docker/build-push-action@v3
          with:
            file: ./dockerfiles/Dockerfile
            context: .
            platforms: linux/amd64
            target: production
            push: false
            load: false

        - name: Build the debug multi-arch images
          uses: docker/build-push-action@v3
          with:
            file: ./dockerfiles/Dockerfile
            context: .
            platforms: linux/amd64
            target: debug
            push: false
            load: false

    pr-image-tests-classic-docker-build:
      name: PR - Classic docker build test
      runs-on: ubuntu-latest
      environment: pr
      steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build the classic test image
        # We only want to confirm it builds with classic mode, nothing else
        run: |
          docker build -f ./dockerfiles/Dockerfile .
        env:
          # Ensure we disable buildkit
          DOCKER_BUILDKIT: 0
        shell: bash
