name: Lint PRs
on:
  pull_request:
  workflow_dispatch:

jobs:

  hadolint-pr:
    runs-on: ubuntu-latest
    name: Hadolint
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-hadolint@v1

  shellcheck-pr:
    runs-on: ubuntu-latest
    name: Shellcheck
    steps:
      - uses: actions/checkout@v2
      - uses: ludeeus/action-shellcheck@master
        with:
          ignore_paths: lib

  actionlint-pr:
    runs-on: ubuntu-latest
    name: Actionlint
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color
        shell: bash
