name: Build and run performance tests for PR
on:
  pull_request:
    branches:
      - master
    types:
      - labeled

jobs:

  # TODO: switch to dedicated runner workflow
  pr-perf-test-run:
    # We only need to test this once as the rest are chained from it.
    if: contains(github.event.pull_request.labels.*.name, 'ok-to-performance-test')
    uses: fluent/fluent-bit-ci/.github/workflows/call-run-test.yaml@add_callable_test_workflow #TODO: change before merge
    with:
      vm-name: fb-perf-test-pr-${{ github.event.number }}
      git-branch: ${{ github.head_ref }}
      test-directory: examples/perf_test
      duration: 30
      service: fb-delta
    secrets:
      service-account: ${{ secrets.GCP_SA }}

  pr-perf-test-complete:
    name: PR - performance test complete
    runs-on: ubuntu-latest
    needs:
      - pr-perf-test-run
    steps:
      - uses: actions/download-artifact@v3

      - name: Upload plots
        continue-on-error: true
        uses: edunad/actions-image@v1.0.1
        with:
          path: './**/*.png'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - uses: actions-ecosystem/action-add-labels@v1
        name: Label the PR
        with:
          labels: ci/performance-test-ok
          github_token: ${{ secrets.GITHUB_TOKEN }}
          number: ${{ github.event.pull_request.number }}
