---
name: Deploy to staging

on:
  push:
    tags:
      - '*'

  # When unstable passes, we can then trigger staging
  workflow_run:
    workflows: ['Unstable test']
    types:
      - completed

  workflow_dispatch:
    inputs:
      version:
        description: Version of Fluent Bit to build
        required: true
        default: master
      target:
        description: Only build a specific target, intended for debug/test/quick builds only.
        required: false
        default: ""

# We do not want a new staging build to run whilst we are releasing the current staging build.
# We also do not want multiples to run for the same version.
concurrency: staging-build-release

jobs:

  # This job strips off the `v` at the start of any tag provided.
  # It then provides this metadata for the other jobs to use.
  staging-build-get-meta:
    # Workflow run always triggers on completion regardless of status
    # This prevents us from running if build fails.
    if: github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success'
    name: Get metadata to build
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.formatted_version.outputs.replaced }}
      date: ${{ steps.date.outputs.date }}
    steps:

      - run: |
          echo "Version: ${{ github.event.inputs.version || github.ref_name }}"
        shell: bash

      # This step is to consolidate the three different triggers into a single "version"
      # 1. If manual dispatch - use the version provided.
      # 2. If cron/regular build - use master.
      # 3. If tag trigger, use that tag.
      - name: Get the version
        id: get_version
        run: |
            VERSION="${INPUT_VERSION}"
            if [ -z "${VERSION}" ]; then
              echo "Defaulting to master"
              VERSION=master
            fi
            echo ::set-output name=VERSION::$VERSION
        shell: bash
        env:
          # Use the dispatch variable in preference, if empty use the context ref_name which should
          # only ever be a tag or the master branch.
          INPUT_VERSION: ${{ github.event.inputs.version || github.ref_name }}

      # String the 'v' prefix for tags.
      - uses: frabert/replace-string-action@v2.0
        id: formatted_version
        with:
          pattern: '[v]*(.*)$'
          string: "${{ steps.get_version.outputs.VERSION }}"
          replace-with: '$1'
          flags: 'g'

      # For cron builds, i.e. nightly, we provide date and time as extra parameter to distinguish them.
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date '+%Y-%m-%d-%H_%M_%S')"

  staging-build-images:
    needs: staging-build-get-meta
    uses: fluent/fluent-bit/.github/workflows/call-build-images.yaml@master
    with:
      version: ${{ needs.staging-build-get-meta.outputs.version }}
      ref: ${{ github.event.inputs.version || github.ref_name }}
      registry: ghcr.io
      username: ${{ github.actor }}
      image: ${{ github.repository }}/staging
      environment: staging
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      cosign_private_key: ${{ secrets.COSIGN_PRIVATE_KEY }}
      cosign_private_key_password: ${{ secrets.COSIGN_PASSWORD }}

  staging-build-generate-matrix:
    name: Staging build matrix
    runs-on: ubuntu-latest
    outputs:
      build-matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      # Set up the list of target to build so we can pass the JSON to the reusable job
      - uses: ./.github/actions/release-server-sync
        id: set-matrix
        with:
          target: ${{ github.event.inputs.target || '' }}

  staging-build-packages:
    needs: [ staging-build-get-meta, staging-build-generate-matrix ]
    uses: fluent/fluent-bit/.github/workflows/call-build-packages.yaml@master
    with:
      version: ${{ needs.staging-build-get-meta.outputs.version }}
      ref: ${{ github.event.inputs.version || github.ref_name }}
      build_matrix: ${{ needs.staging-build-generate-matrix.outputs.build-matrix }}
      environment: staging
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      bucket: ${{ secrets.AWS_S3_BUCKET_STAGING }}
      access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      gpg_private_key_passphrase: ${{ secrets.GPG_PRIVATE_KEY_PASSPHRASE }}
