---
name: Deploy to staging

on:
  push:
    tags:
      - '*'
  release:
    types: [created]

  workflow_dispatch:
    inputs:
      version:
        description: Version of Fluent Bit to build
        required: true
        default: 1.8.12
      target:
        description: Only build a specific target
        required: false
        default: ""

# We do not want a new staging build to run whilst we are releasing the current staging build.
# We also do not want multiples to run for the same version.
concurrency: staging-build-release

jobs:

  # This job copes with the variable approach of either being triggered by a tag,
  # where the data is then in the reference provided, or by a manual event where
  # the data is then in another structure entirely. We take the manual input if
  # it is present, otherwise we try to figure it out.
  staging-build-get-version:
    name: Get version to build
    runs-on: ubuntu-latest
    environment: staging
    outputs:
      version: ${{ steps.formatted_version.outputs.replaced }}
    steps:
      - name: Get the version
        id: get_version
        # Use the input variable if defined, if not attempt to get a tag
        run: |
            VERSION="${INPUT_VERSION}"
            if [ -z "${VERSION}" ]; then
              if [ -z "${GITHUB_REF/refs\/tags\//}" ]; then
                VERSION="${GITHUB_REF/refs\/tags\//}"
              else
                echo "Unable to get a version to build"
                exit 1
              fi
            fi
            echo ::set-output name=VERSION::$VERSION
        shell: bash
        env:
          INPUT_VERSION: ${{ github.event.inputs.version || '' }}

      - uses: frabert/replace-string-action@v2.0
        id: formatted_version
        with:
          pattern: '[v]*(.*)$'
          string: "${{ steps.get_version.outputs.VERSION }}"
          replace-with: '$1'
          flags: 'g'

  staging-build-images:
    needs: staging-build-get-version
    uses: fluent/fluent-bit/.github/workflows/call-build-images.yaml@master
    with:
      version: ${{ needs.staging-build-get-version.outputs.version }}
      registry: ghcr.io
      username: ${{ github.actor }}
      image: ${{ github.repository }}/staging
      environment: staging
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      cosign_private_key: ${{ secrets.COSIGN_PRIVATE_KEY }}
      cosign_private_key_password: ${{ secrets.COSIGN_PASSWORD }}

  staging-build-generate-matrix:
    name: Staging build matrix
    runs-on: ubuntu-latest
    outputs:
      build-matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      # Set up the list of target to build so we can pass the JSON to the reusable job
      - id: set-matrix
        run: |
          matrix=$((
            echo '{ "distro" : ['
            echo '"amazonlinux/2", "amazonlinux/2.arm64v8",'
            echo '"centos/7", "centos/7.arm64v8", "centos/8", "centos/8.arm64v8",'
            echo '"debian/stretch", "debian/stretch.arm64v8", "debian/buster", "debian/buster.arm64v8", "debian/bullseye", "debian/bullseye.arm64v8",'
            echo '"ubuntu/16.04", "ubuntu/18.04", "ubuntu/20.04", "ubuntu/18.04.arm64v8", "ubuntu/20.04.arm64v8",'
            echo '"raspbian/buster", "raspbian/bullseye"'
            echo ']}'
          ) | jq -c .)
          if [ -n "${{ github.event.inputs.target || '' }}" ]; then
            echo "Overriding matrix to build: ${{ github.event.inputs.target }}"
            matrix=$((
              echo '{ "distro" : ['
              echo '"${{ github.event.inputs.target }}"'
              echo ']}'
            ) | jq -c .)
          fi
          echo $matrix
          echo $matrix| jq .
          echo "::set-output name=matrix::$matrix"
        shell: bash

  staging-build-packages:
    needs: [ staging-build-get-version, staging-build-generate-matrix ]
    uses: fluent/fluent-bit/.github/workflows/call-build-packages.yaml@master
    with:
      version: ${{ needs.staging-build-get-version.outputs.version }}
      build_matrix: ${{ needs.staging-build-generate-matrix.outputs.build-matrix }}
      environment: staging
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      bucket: ${{ secrets.AWS_S3_BUCKET_STAGING }}
      access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      gpg_private_key_passphrase: ${{ secrets.GPG_PRIVATE_KEY_PASSPHRASE }}
