name: Windows CI
on:
  workflow_dispatch:

  pull_request:
    # Limit to just those changes that 'might' affect Windows for automated builds
    # We can always do a manual build for a branch
    paths:
      - '**.h'
      - '**.c'
      - '**.windows'
      - './conf/**'
      - './cmake/**'
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - "master"
      - "1.8"

jobs:
  windows-build-package:
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Get dependencies
      run: |
        Invoke-WebRequest -O winflexbison.zip $env:WINFLEXBISON
        Expand-Archive winflexbison.zip -Destination C:\WinFlexBison
        Copy-Item -Path C:\WinFlexBison/win_bison.exe C:\WinFlexBison/bison.exe
        Copy-Item -Path C:\WinFlexBison/win_flex.exe C:\WinFlexBison/flex.exe
        echo "C:\WinFlexBison" | Out-File -FilePath $env:GITHUB_PATH -Append
      env:
        WINFLEXBISON: https://github.com/lexxmark/winflexbison/releases/download/v2.5.22/win_flex_bison-2.5.22.zip
      shell: pwsh

    - name: Set up Visual Studio shell
      uses: egor-tensin/vs-shell@v2
      with:
        arch: x64

    - name: Build Fluent Bit packages
      run: |
        cmake -G "NMake Makefiles" ../
        cmake --build .
        cpack
      working-directory: build

    - name: Upload build packages
      uses: actions/upload-artifact@v2
      with:
        name: windows-packages
        path: |
          build/fluent-bit-*.exe
          build/fluent-bit-*.zip
        if-no-files-found: error

  windows-build-container:
    # Only build on push as takes a long time and not needed for PRs
    # if: github.event_name != 'pull_request'
    # Need to match the container base image
    runs-on: windows-2019
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - run: |
        docker build -t fluent/fluent-bit:windows-${{ github.sha }} -f ./dockerfiles/Dockerfile.windows .
        docker save -o windows-${{ github.sha }}.tar fluent/fluent-bit:windows-${{ github.sha }}

    - name: Upload containers
      uses: actions/upload-artifact@v2
      with:
        name: windows-containers
        path: windows-${{ github.sha }}.tar
        if-no-files-found: error
